@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;500;700&display=swap');

/* Animations */
@keyframes slide {
  to{transform: translate(-50%);}
}
@keyframes error {
  33.3%{transform: translate(-5px);}
  66.6%{transform: translate(5px);}
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

:root{
  --maxWidth: 1200px;
  --header: 0px;
  --mainColor: #04AA6D;
  --mainColorDark: #37833a;
  --colorLigth: #dddddd;
}

/* General configuration */
html, body{
  background-color: #fff;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select:none;  
  -moz-user-select:none;     
  -ms-user-select:none;      
  user-select:none;
}

.container{max-width: var(--maxWidth);}

.flex{display: flex;}
.column{flex-direction: column;}
.j-center{justify-content: center;}
.a-center{align-items: center;}
.around{justify-content: space-around;}
.between{justify-content: space-between;}
.evenly{justify-content: space-evenly;}
.disable{display: none !important;}
.pointer{cursor: pointer;}

main{height: calc(100vh - var(--header));}

main section{
  height: 100%;
  margin: auto;
  overflow: hidden;
}

.bg-dark{ background-color: #000;}
.txt-light{color: #eee;}
.txt-dark{color: #333 !important;}

.fail{
  color: #ff0000 !important;
  animation: error .1s normal infinite;
}

.success{color: #008000;}

/* Left menu */
.navbar{
  width: 30% !important;
  min-width: 170px;
  height: 100%;
  animation: slide .1s forwards ease-out reverse;
}

.nav-list{
  overflow-y: auto;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.navbar button{text-transform: uppercase;}

.dropbtn, .dropbtn2, .dropbtn3{
  background-color: var(--mainColor) !important;
  width: 100%;
  color: #eee;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-align: start;
}

.perfil{
  color: #111;
  border-radius: 0 0 10px 10px;
  margin-bottom: .2rem;
}

.dropdown, .dropdown2, .dropdown3{
  width: 100%;
  position: relative;
  display: inline-block;
}

.dropdown-content,
.dropdown-content2,
.dropdown-content3,
.content0
{box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);}

.dropdown-content,
.dropdown-content2,
.dropdown-content3 {
  background-color: #04c27c;
  color: #333;
  display: none;
  position: absolute;
  right: 0;
  width: 50%;
  z-index: 1;
}

.dropdown-content3{
  min-width: 50%;
}

.dropdown-content2,
.dropdown-content3 {
  text-align: center;
}

.dropdown-content li,
.dropdown-content2 li{
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.content0{
  width: 100%;
  margin: 0 0 0 auto;
  display: none;
}

.content0 .dropdown2,
.content0 .dropdown3
{padding: 0 !important;}

.dropdown-content li:hover,
.dropdown-content2 li:hover
{background-color: #ddd;}

.dropdown:hover .content0,
.dropdown:hover .dropdown-content,
.dropdown2:hover .dropdown-content2,
.dropdown3:hover .dropdown-content3
{display: block;}

.dropdown:hover .dropbtn,
.dropdown2:hover .dropbtn2,
.dropdown3:hover .dropbtn3,
.dropbtn2:hover, .dropbtn3:hover
{background-color: var(--mainColorDark);}

.navbar .conection{
  color: #000;
  text-align: center;
  width: 100%;
  box-shadow: 0 -5px 5px #5252521e;
  z-index: 3;
}

.conection p, h1{ padding-top: .2rem;}

.conection .dot-connect:not(.dot-connect img){
  width: 15px;
  height: 15px;
  background-color: #777;
  border-radius: 100px;
}

.navbar footer{
  width: 100%;
  padding: .5rem 0;
}

.btn_menu{
  position: absolute;
  padding: .2rem .3rem;
}

/* Show */
.show{width: 100%; position: relative;}

.show .content{padding: 3rem .3rem  .5rem;}

.aula{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.aula .video{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aula .title{
  color: var(--mainColorDark);
  border: 2px solid var(--mainColorDark);
  font-size: 1.5rem;
  padding: .1rem .5rem;
  margin: .3rem;
  border-radius: 10px;

}

.aula h1{font-size: 2rem;}

.aula .graus button{
  padding: .5rem;
  border: none;
}

.aula .graus .current{
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
  border-radius: 10px;
}

.aula .options button{
  background-color: var(--mainColor);
  color: #ddd;
  border: none;
  border-radius: 10px;
  padding: .5rem .75rem;
  margin-bottom: 1rem;
}

.aula .options .current{
  background-color: transparent;
  border: 2px solid var(--mainColor);
  color: var(--mainColor);
}

.aula .keyboard{
  display: flex;
  height: 35%;
  max-height: 300px;
  width: 96%;
  max-width: 800px;
  border-top: none;
  margin: 0 auto;
}

.keyboard .octave{position: relative;}

.keyboard .whites,
.keyboard .blacks,
.keyboard .octave,
.keyboard button{
  display: flex;
  width: 100%;
  overflow: hidden;
  color: transparent;
  cursor: pointer;
}

.keyboard .whites{
  width: 100%;
  height: 100%;
}

.keyboard .blacks{
  position: absolute;
  left: 7%;
  height: 50%;
}

.keyboard .blacks button{
  background-color: #000;
  margin: 0 2.8%;
  border-radius: 0 0 15% 15%;
  border-top: #000 2px solid;
}

.keyboard .whites button{
  border-radius: 0 0 4px 4px;
  border-color: #777;
}

.keyOn{background-color: #a0ffa0 !important;}

.keyboard .blacks .none{
  visibility: collapse;
}
